.quiz-option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.eye-icon {
    width: 30px;
    height: 30px;
}

/* responsive device */

@media screen and (max-width: 786px) {
    .quiz-option-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}